*{
    padding:0;
    margin: 0;
    

}
.container{
    width:100%;
	
}
.nav{
	
    display: flex;
    justify-content: space-between;
}
.nav{
	padding:14px;
	align-items:center;
	background-color:#000000b3;
	
	
}

 
.head a{
    font-size: 40px;
	color:#fff;
	margin-left:30px;
	text-decoration:none;
}
.head span{
	font-size:30px;
	color:#f2e56b;
}
.nav-link a{
	text-decoration:none;
	color:#fff;
	margin-left:20px;
	margin-right:20px;
	font-size:20px;
	
}
.nav-link a:hover{
	color:#f2e56b;
}
.nav-link a.active{
	color:#f2e56b;
}
button{
	padding:12px 18px;
	margin-right:20px;
	margin-top:10px;
	color:#fff;
	border:solid 1px #f2e56b;
	background-color:black;
	border-radius:5px;
}
button:hover{
	background-color:#f2e56b;
	color:#000;
}

.img-sec{
	background-image:url('bg-1.png');
	height:100vh;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:top;
}